* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    background-color: #f6f6f6;
}

.main-div {
    width: 430px;
    height: 700px;
    background-color: #ecf0f3;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.title{
    text-align: center;
    font-size: 28px;
    padding-bottom: 25px;
}

.input-div input {
    border: none;
    background: none;
    width: 360px;
    font-size: 30px;
    padding: 20px 10px 20px 5px;
    outline: none;
    margin-bottom: 30px;
    box-shadow: 8px 8px 8px #cbced1 , 
    -8px -8px 8px #ffffff;
    border-radius: 25px;
}

.first-buttons {
    border: none;
    cursor: pointer;
    width: 24%;
    height: 65px;
    background-color: #f6f6f6;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #555;
    box-shadow: 3px 3px 8px #b1b1b1 , 
    -3px -3px 5px #fff;
    transition: all .3s ease-in;
}

.seccond-buttons {
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 24%;
    height: 65px;
    background-color: #f6f6f6;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #555;
    box-shadow: 3px 3px 8px #b1b1b1 , 
    -3px -3px 5px #fff;
    transition: all .3s ease-in;
}

.third-button{
    border: none;
    cursor: pointer;
    width: 360px;
    height: 60px;
    margin-top: 15px;
    background-color: #f6f6f6;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #555;
    box-shadow: 3px 3px 8px #b1b1b1 , 
    -3px -3px 8px #fff;
    transition: all .3s ease-in;
}

.buttons button:hover{
    background-color:#50e5e5;
}
